{% extends "main_layout.twig" %}
    {% block title %} Albums {% endblock %}

    {% block content %}
        <div class="row">
            <div class="col-md-offset-3 col-sm-offset-3 col-sm-6 col-md-6">
                <form method="post" action="/forgot_password">
                    <div class="input-group">
                        <span class="input-group-addon"> Enter your email: </span>
                        <input type="text" class="form-control" name="email"/>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary btn-block" value="Reset password"/>
                </form>
            </div>
        </div>
    {% endblock %}