{% extends "main_layout.twig" %}
    {% block title %} Albums {% endblock %}

    {% block content %}
        <h1> Reset password </h1>
        <div class="row">
            <div class="col-md-offset-3 col-sm-offset-3 col-sm-6 col-md-6">
                <form method="post" action="/reset">
                    <div class="input-group">
                        <span class="input-group-addon"> Enter new password: </span>
                        <input type="text" class="form-control" name="password"/>
                    </div>
                    <br>
                    <input type="hidden" value="{{ token }}" name="token">
                    <input type="submit" class="btn btn-primary btn-block" value="Reset password"/>
                </form>
            </div>
        </div>
    {% endblock %}